.Services{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.Services h2 {
    font-weight: lighter;
}

.Services section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Services hr {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}

@media(min-width: 650px){
    .Services section{
        flex-direction: row;
    }
    .Services{
        margin-top: 0px;
    }
}